body {
  margin: 0;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: left;
  display: inline-flex;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  height: 35px;
  margin: 0px;
  align-items: center;
  color: #2d0039;
}

.footer {
  display: inline-flex;
  background-color: #2d0039;
  color: #fff;
  font-size: 14px;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 35px;
  display: inline-flex;
  align-items: center;
}



.header_border_div {
  height: 35px;
  left: 0%;
  width: 100%;
  border-bottom: 1px solid rgb(113, 113, 113);
  float: inline-start;
  position: absolute;
  box-shadow: 0px 0px 6px 0px black;
}


.main_container {
  display: inline-flex;
  flex-direction: column;
}

.central_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tbl {
  width: 100%;
}

.converter_div {
  margin-top: 30px;
  max-width: 600px;
  padding: 20px;
  color: white;
  box-shadow: 0px 0px 6px 0px black;
  min-height: 125px;
  background-color: #2d0039;
  border-radius: 21px;

}

.container {
  display: inline-flex;
  clear: both;
  width: 40vw;
}

.column1 {
  display: block;
  float: left;
}

.column2 {
  display: block;
  float: left;
}


.input_scale_wrap {
  display: inline-flex;
  align-items: flex-end;
}

.row {
  display: flex;
}

.convert_header {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 0px;
}

.inputs {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
}

.input_wrapper {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


.input_left {
  display: inline-flex;
}

.input_right {
  display: inline-flex;
}

#numb_input {
  word-wrap: break-word;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  height: 20px;
  outline: 0 !important;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(230, 230, 230);

}

.option {
  width: 16em;
  height: 24px;
  outline: 0 !important;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(230, 230, 230);
}



.invert:hover {
  cursor: pointer;
  color: #494949;
}

.values {
  color: rgb(0, 0, 0);
  background-color: #bbbbbb;
}

.bottom_container {
  display: inline-flex;

  width: 100%;
  justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.heart {
  font-size: 24px;
  text-align: left;
  color: #fefefe;
}

.heart:hover {
  font-size: 24px;
  cursor: pointer;
  color: #494949;
}

.saved_results {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: middle;
  width: 600px;
  margin-top: 40px;
}


.results_container {
  width: 100%;
  display: inline-flex;
  height: 35px;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.result_div {
  word-wrap: break-word;
}

.result_button {
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px 2px;
  color: #636363;
  background-color: #cccccc;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #0000001A;
  margin-top: 14px;
  width: 46%;
  height: 30px;
}

.remove_x_button {
  cursor: pointer;
}





@media only screen and (max-width: 615px) {
  body {
    background-color: rgb(255, 255, 255);
  }


  .input_wrapper {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


  }

  .scale_th {
    display: inline-flex;
    text-align: left;
  }

  .saved_results {
    width: inherit;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    margin-top: 10px;
  }

  .result_button {
    width: inherit;
    margin-top: 10px;
    display: inline-flex;

  }

  .converter_div {
    padding: 20px;
  }

  .main_container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .input_field {
    margin-top: 20px;
    display: inline-flex;
    margin-right: 10px;
    text-align: right;

  }


  .option {
    height: 24px;
    width: 174px;
  }


}